@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 1100px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        position: static;
        width: auto;
        background-color: transparent;
        border: none;
    }

    .navigation ul {
        display: flex;
        gap: 1.5rem;
    }

    .navigation a {
        border: none;
        padding: 0;
        background: transparent;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}