@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

/***********/

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
        /* gap: 1rem; */
    }

    .navigation a {
        border: none;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    main h1 {
        grid-column: 1 / -1;
        margin-left: 0;
    }

    .cetificate-section {
        grid-column: 1 / -1;
        margin: 1rem 0 0 0 !important;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}